/*
 * Base structure
 */

body {
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    font-family: var(--bs-font-sans-serif);
}

@media (min-width: 768px) {
    body {
        background-image: url(../images/family.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
  
/*
* Header
*/
  
.nav-masthead .nav-link {
    color: rgba(255, 255, 255, .5);
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff !important;
}

/*
* Main
*/
  
main {
    height: 100%;
    width: 100%;
    background-blend-mode: difference;
}

main h1 {
    font-weight: 200;
    font-family: 'Shadows Into Light Two', cursive;
    border-bottom: 2px solid #fff;
}

@media (max-width: 767.98px) {
    main.border {
        border: none !important;
    }

    main h1 {
        font-size: 2.75rem;
        font-weight: 200;
        line-height: 4rem;
    }

    main #content .text {
        width: 16rem;
        transform: scaleY(-1);
    }

    main #content {
        background-image: url(../images/family-mobile.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        transform: scaleY(-1);
    }

    main #content::before {
        content:"";
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, rgba(0,0,0,0.3),black);
        backdrop-filter: blur(8px);
        position: absolute;
        left: 0px;
        bottom: 0px;
        flex: none;
    }
}

@media (min-width: 768px) {
    main {
        height: auto;
        width: 32rem;
    }

    main h1 {
        font-size: 5rem;
        line-height: 5rem;
    }

    main #content {
        width: 24rem;
    }
}

main #mobile-image {
    background-image: url(../images/family-mobile.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}